---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Conditions | Parolla.">
	<main class="space-y-40 mb-40 px-7 pt-48 prose mx-auto w-full">
        <Container>
            <h1 id="conditions-g-n-rales-d-un-site-web">
                Conditions générales d'un site web
            </h1>
            <h2 id="conditions-g-n-rales">CONDITIONS GÉNÉRALES</h2>
            <p>
                Les présentes conditions générales régissent l’utilisation de ce site
                parolla.chat. Ce site appartient et est géré par Parolla SARL. En
                utilisant ce site, vous indiquez que vous avez lu et compris les
                conditions d’utilisation et que vous acceptez de les respecter en tout
                temps.
            </p>
            <p>
                <strong>Type de site :</strong> Une application d'apprentissage de langues
            </p>
            <h2 id="propri-t-intellectuelle">Propriété intellectuelle</h2>
            <p>
                Tout contenu publié et mis à disposition sur ce site est la propriété de
                Parolla SARL et de ses créateurs. Cela comprend, mais n’est pas limité
                aux images, textes, logos, documents, fichiers téléchargeables et tout
                ce qui contribue à la composition de ce site.
            </p>
            <h2 id="utilisation-acceptable">Utilisation acceptable</h2>
            <p>
                En tant qu’utilisateur, vous acceptez d’utiliser notre site légalement
                et de ne pas utiliser ce site pour des fins illicites, à savoir :
            </p>
            <ul>
                <li>Harceler ou maltraiter les autres utilisateurs du site</li>
                <li>Violer les droits des autres utilisateurs du site</li>
                <li>
                    Violer les droits de propriété intellectuelle des propriétaires du
                    site ou de tout tiers au site
                </li>
                <li>Pirater le compte d’un autre utilisateur du site</li>
                <li>
                    Agir de toute façon qui pourrait être considérée comme frauduleuse
                </li>
                <li>Participer à toute activité illégale sur le site</li>
                <li>
                    Afficher tout matériel qui peut être jugé inapproprié ou offensant
                </li>
            </ul>
            <p>
                Si nous estimons que vous utilisez ce site illégalement ou d’une manière
                qui viole les conditions d’utilisation acceptable ci-dessus, nous nous
                réservons le droit de limiter, suspendre ou résilier votre accès à ce
                site. Nous nous réservons également le droit de prendre toutes les
                mesures juridiques nécessaires pour vous empêcher d’accéder à notre
                site.
            </p>
            <h2 id="contributions-d-utilisateur">Contributions d'utilisateur</h2>
            <p>
                Les utilisateurs peuvent publier les informations suivantes sur notre
                site :
            </p>
            <ul>
                <li>Photos</li>
                <li>Vidéos</li>
                <li>Commentaire du public</li>
            </ul>
            <p>
                En affichant publiquement sur notre site, vous acceptez de ne pas agir
                illégalement ou violer les conditions d’utilisation acceptable énumérées
                dans ce document.
            </p>
            <h2 id="comptes">Comptes</h2>
            <p>
                Lorsque vous créez un compte sur notre site, vous acceptez ce qui suit :
            </p>
            <ul>
                <li>
                    que vous êtes seul responsable de votre compte et de la sécurité et
                    la confidentialité de votre compte, y compris les mots de passe ou
                    les renseignements de nature délicate joints à ce compte, et
                </li>
                <li>
                    que tous les renseignements personnels que vous nous fournissez par
                    l’entremise de votre compte sont à jour, exacts et véridiques et que
                    vous mettrez à jour vos renseignements personnels s’ils changent.
                </li>
            </ul>
            <p>
                Nous nous réservons le droit de suspendre ou de résilier votre compte si
                vous utilisez notre site illégalement ou si vous violez les conditions
                d’utilisation acceptable.
            </p>
            <h2 id="ventes-des-biens-et-services">Ventes des biens et services</h2>
            <p>
                Ce document régit la vente des services mis à disposition sur notre
                site.
            </p>
            <p>Les services que nous offrons comprennent :</p>
            <ul>
                <li>
                    Un assistant d'apprentissage de nouvelles langues et des outils
                    numériques en lien avec ces langues (traducteur, conjugueur,
                    dictionnaire).
                </li>
            </ul>
            <p>
                Les services liés à ce document sont les services qui sont affichés sur
                notre site au moment où vous y accédez. Toutes les informations,
                descriptions ou images que nous fournissons sur nos services sont
                décrites et présentées avec la plus grande précision possible.
                Cependant, nous ne sommes pas légalement tenus par ces informations,
                descriptions ou images car nous ne pouvons pas garantir l’exactitude de
                chaque produit ou service que nous fournissons. Vous acceptez d’acheter
                ces services à vos propres risques.
            </p>
            <h3 id="vendus-par-des-tiers">Vendus par des tiers</h3>
            <p>
                Notre site peut offrir des services de sociétés tierces. Nous ne pouvons
                pas garantir la qualité ou l’exactitude des services mis à disposition
                par des tiers sur notre site.
            </p>
            <h3 id="paiements">Paiements</h3>
            <p>Nous acceptons les modes de paiement suivants sur ce site :</p>
            <ul>
                <li>Carte bancaire</li>
                <li>PayPal</li>
            </ul>
            <p>
                Lorsque vous nous fournissez vos renseignements de paiement, vous nous
                confirmez que vous avez autorisé l’utilisation et l’accès à l’instrument
                de paiement que vous avez choisi d’utiliser. En nous fournissant vos
                détails de paiement, vous confirmez que vous nous autorisez à facturer
                le montant dû à cet instrument de paiement.
            </p>
            <p>
                Si nous estimons que votre paiement a violé une loi ou l’une de nos
                conditions d’utilisation, nous nous réservons le droit d’annuler votre
                transaction.
            </p>
            <h3 id="services">Services</h3>
            <p>Les services seront facturés en totalité à la commande du service.</p>
            <h3 id="abonnements">Abonnements</h3>
            <p>
                Tous nos abonnements récurrents seront automatiquement facturés et
                renouvelés jusqu’à ce que nous recevions d’avis que vous souhaitez
                annuler l’abonnement.
            </p>
            <h3 id="essai-gratuit">Essai gratuit</h3>
            <p>
                Le service Parolla est en phase de test pour une durée indéterminée. Il
                est donc gratuit pour tous.
            </p>
            <h2 id="limitation-de-responsabilit-">Limitation de responsabilité</h2>
            <p>
                Parolla SARL ou l’un de ses employés sera tenu responsable de tout
                problème découlant de ce site. Néanmoins, Parolla SARL et ses employés
                ne seront pas tenus responsables de tout problème découlant de toute
                utilisation irrégulière de ce site.
            </p>
            <h2 id="indemnit-">Indemnité</h2>
            <p>
                En tant qu’utilisateur, vous indemnisez par les présentes Parolla SARL
                de toute responsabilité, de tout coût, de toute cause d’action, de tout
                dommage ou de toute dépense découlant de votre utilisation de ce site ou
                de votre violation de l’une des dispositions énoncées dans le présent
                document.
            </p>
            <h2 id="lois-applicables">Lois applicables</h2>
            <p>
                Ce document est soumis aux lois applicables en France et vise à se
                conformer à ses règles et règlements nécessaires. Cela inclut la
                réglementation à l’échelle de l’UE énoncée dans le RGPD.
            </p>
            <h2 id="divisibilit-">Divisibilité</h2>
            <p>
                Si, à tout moment, l’une des dispositions énoncées dans le présent
                document est jugée incompatible ou invalide en vertu des lois
                applicables, ces dispositions seront considérées comme nulles et seront
                retirées du présent document. Toutes les autres dispositions ne seront
                pas touchées par les lois et le reste du document sera toujours
                considéré comme valide.
            </p>
            <h2 id="modifications">Modifications</h2>
            <p>
                Ces conditions générales peuvent être modifiées de temps à autre afin de
                maintenir le respect de la loi et de refléter tout changement à la façon
                dont nous gérons notre site et la façon dont nous nous attendons à ce
                que les utilisateurs se comportent sur notre site. Nous recommandons à
                nos utilisateurs de vérifier ces conditions générales de temps à autre
                pour s’assurer qu’ils sont informés de toute mise à jour. Au besoin,
                nous informerons les utilisateurs par courriel des changements apportés
                à ces conditions ou nous afficherons un avis sur notre site.
            </p>
            <h2 id="contact">Contact</h2>
            <p>
                Veuillez communiquer avec nous si vous avez des questions ou des
                préoccupations. Nos coordonnées sont les suivantes :
            </p>
            <p>Date d'entrée en vigueur : le 18 juin 2024.</p>
            <p>© 2002-2024, DocumentsLégaux™ (Sequiter Inc.)</p>
        </Container>
    </main>
</Layout>
