---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);

---


<!DOCTYPE html>
<html lang={lang} class="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Découvrez Parolla, votre compagnon d'apprentissage de la langue corse. Évaluez vos compétences, créez un parcours personnalisé et participez à une communauté dynamique pour un apprentissage interactif et personnalisé. Explorez une nouvelle façon d'apprendre la langue corse, où que vous soyez et à tout moment.">
		<title>Parolla - Assistant de Corse</title>

		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
		<style>
			:global {
			  [data-rmiz-wrap='visible'],
			  [data-rmiz-wrap='hidden'] {
				width: 100%;
				height: 100%;
				display: block;
			  }
			}</style>
	</head>
	<body class="bg-white dark:bg-gray-900">
		<AppHeader/>
		<slot />
		<AppFooter/>
	</body>
</html>
<style>
	html {
		font-family: Urbanist, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
	}
</style>